<h2>Tareas</h2>
<p>Ejemplo de provider o servicio para hacer un CRUD completo</p>

<ul class="list-group">
    <li class="list-group-item" *ngFor="let t of tareas">
        <input class="mr-2" type="checkbox" [checked]="t.completada" (click)="editarEstado(t)">
        <b>{{t.id}}</b>
        <span class="titulo {{(t.completada) ? 'completada': ''}} ml-2">
            {{t.titulo}}
        </span>
        <span class="float-right papelera" (click)="eliminar(t)"> 
            <i class="fas fa-trash"></i>
        </span>
    </li>
</ul>