<h1>SASS</h1>

<p>
    SASS es un precompilador de CSS y soporta dos formatos:
    <code>.sass </code>
    y
    <code>.scss</code>
    y nos genera un
    <code>.css</code>
</p>

<p>
    Vamos a usar el formato <code>.scss</code> porque es el más sencillo para escribir, 
    puesto que soporta que escribamos en <code>.scss</code>
</p>

<p>
    Existen otros pre-compiladores como <code>LESS</code> o <code>STYLUS</code>
</p>

<h3>Mixin</h3>
<p>
    <span class="borde10">10</span>
</p>
<p>
    <span class="borde50">50</span>
</p> 

<p>
    <a href="https://sass-lang.com/documentation" target="_blank">Documentación oficial</a>
</p>

<p>
    <span class="boton">boton</span>
</p>
<br>
<p>
    <span class="boton-verde">Aceptar</span>
</p>
<br>
<p>
    <span class="boton-rojo">Cancelar</span>
</p>

<span class="boton boton-verde">verde verde</span>